<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12 Ajax & Axios</title>
    <style>
        body {
            background-color: rgb(233, 231, 231);
            padding: 0;
            margin: 0;
        }

        #main-header {
            padding: 1em;
            background-color: rgb(19, 19, 19);
            color: rgb(243, 243, 243);
            min-height: 50px;
            margin: 0;
        }

        #main-header h1{
            margin-left: 1em;
        }

        #main-footer {
            background-color: rgb(19, 19, 19);
            text-align: center;
            color: rgb(243, 243, 243);
            min-height: 50px;
            margin: 0;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .form {
            border: 1px solid black;
            margin: 0;
            padding: 2em;
        }

        .form p {
            margin: 0;
            padding: 0;
        }

        .form input {
            min-width: 300px;
            margin: 0.3em;
        }

        .table {
            padding: 2em;
            margin: auto;
            border: 1px solid black;
        }

        .table td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <header id="main-header">
        <h1>Tugas 12 Ajax Axios</h1>
    </header>
    <section class="container">
        <div id="app">
            <form class="form" @submit.prevent="submitForm()">
                <p>Name :</p>
                <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model:value="name">
                <p>Address :</p>
                <input type="text" :disabled="buttonStatus == 'upload'" name="address" ref="address"
                    v-model:value="address">
                <p>Phone Number :</p>
                <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="np_hp" v-model:value="no_hp">
                <div v-if="buttonStatus == 'submit'">
                    <input type="submit" value="SUBMIT">
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input type="button" @click="confirmEdit()" value="UPDATE">
                    <input type="button" @click="cancelEdit()" value="CANCEL">
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input type="file" name="photo_profile" ref="photo_profile"><br>
                    <input type="button" @click="confirmUpload()" value="UPLOAD">
                    <input type="button" @click="cancelEdit()" value="CANCEL">
                </div>
            </form>
            <table class="table">
                <tr v-for="member of members">
                    <td>
                        <img width=100
                            :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'"
                            alt="">
                    </td>
                    <td>
                        <b>Name :</b> {{member.name}} <br>
                        <b>Address :</b> {{member.address}} <br>
                        <b>Phone Number :</b> {{member.no_hp}} <br>
                    </td>
                    <td>
                        <button @click="editMember(member)">Edit</button>
                        <button @click="removeMember(member.id)">Hapus</button>
                        <button @click="uploadPhoto(member)">Upload File</button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <footer id="main-footer">
        <h3>2022 &copy Muhammad Naufal Al Aziz</h3>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                editing: '',
                photo_profile: '',
                members: [{
                    name: '',
                    address: '',
                    no_hp: '',
                }],
                error: [],
            },
            methods: {
                getMembers: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                submitForm: function () {
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)
                    const config = {
                        method: "post",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            this.name = ''
                            this.address = ''
                            this.no_hp = ''
                            alert(response.data.message)
                        })
                        .catch((error) => {

                        })
                },

                removeMember: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editMember: function (member) {
                    this.buttonStatus = 'update'
                    this.editing = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    console.log(member)
                },

                cancelEdit: function () {
                    this.buttonStatus = 'submit'
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.editing = ''
                },

                confirmEdit: function () {
                    let editedUser = new FormData()
                    editedUser.append('name', this.name)
                    editedUser.append('address', this.address)
                    editedUser.append('no_hp', this.no_hp)
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.editing}`,
                        params: {
                            _method: "PUT"
                        },
                        data: editedUser
                    }
                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            this.name = ''
                            this.address = ''
                            this.no_hp = ''
                            this.buttonStatus = 'submit'
                            this.editing = ''
                            alert(response.data.message)
                        })
                        .catch((error) => {

                        })
                },

                uploadPhoto: function (member) {
                    this.buttonStatus = 'upload'
                    this.editing = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp

                },

                confirmUpload: function () {
                    let newPhoto = new FormData()
                    newPhoto.append('photo_profile', this.$refs.photo_profile.files[0])
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.editing}/upload-photo-profile`,
                        data: newPhoto
                    }
                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            this.name = ''
                            this.address = ''
                            this.no_hp = ''
                            this.buttonStatus = 'submit'
                            this.editing = ''
                            alert(response.data.message)
                        })
                        .catch((error) => {

                        })

                }

            },
            created() {
                this.getMembers()
            }
        })
    </script>
</body>

</html>