<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <input type="text" v-model:value="cek">
      <button onclick="vm.addUser">{{buttonStatus}}</button>
    <ul>
        <div v-html="coba"></div>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        users : [
            {
                'name' : 'Muhammad Iqbal Mubarok'
            },
            {
                'name' : 'Ruby Purwanti'
            },
            {
                'name' : 'Faqih Muhammad'
            },
        ],
        buttonStatus : 'add',
        cek : '',
        editedUser: null
      },
      methods: {
        deleteUser : function(id){
            tmp = []
            for(i = 0; i < this.users.length; i++){
                if(i == id){
                    continue
                }else{
                    tmp.push(this.users[i])
                }
            }
            this.users = tmp
        },
        editUser : function(id){
            this.buttonStatus = 'Update'
            this.cek = this.users[id].name
            this.editedUser = id
        },
      },
      computed : {
        coba : function () {
            result = ''
            for(let i = 0; i < this.users.length; i++){
                result += `<li>${this.users[i].name} '<button id="${i}" onclick="vm.editUser(this.id)">Edit</button>' || '<button id="${i}" onclick="vm.deleteUser(this.id)">Delete</button>'</li>`

            }
            return result
        },
        addUser : function (){
            if(this.buttonStatus == 'add'){
                let addedObject = { 'name' : this.cek}
                this.users.push(addedObject)
                this.cek = ''
            }else{
                for(let i = 0; i < this.users.length; i++){
                    if(i == this.editedUser){
                        this.users[i].name = this.cek
                    }
                }
                this.cek = ''
                this.buttonStatus = 'add'
                this.editedUser = null
            }
        },
      },
  })
  </script>
</body>
</html>