body{
    font: normal 14px helvetica, sans-serif, arial;
    line-height: 1,6;
    background-color: #4f4f4f;
    margin: 0;
    overflow-x: hidden;
}

li{
    font-weight: bold;
}

#main-header{
    background-color: #4f4f4f;
    width: 100%;
    min-height: 30px;
    max-height: 50px;
    position: fixed;
    overflow: hidden;
    padding: 1em;
    border-bottom: coral solid 10px;
}

#main-header h1{
    color: #fff;
    margin: 0;
    padding: 0;
}

#branding{
    margin-left: 4em;
}

#showcase{
    min-height: 600px;
    text-align: center;
    background-image: url('../img/1.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0;
    margin: 0;
}

#showcase img{
    margin-top: 6em;
    padding: 4em;
    width: 200px;
}

.container{
    width: 80%;
    margin: auto;
}

.boxes{
    width: 80%;
    margin: auto;
}

.box-1{
    float: left;
    background-color: #fff;
    min-height: 900px;
    width: 65%;
    border: #000 solid;
    padding: 2em;
    box-sizing: border-box;
}

.box-2{
    float: left;
    min-height: 900px;
    background-color: #000;
    text-align: center;
    color: #fff;
    width: 35%;
    border: #000 solid;
    padding: 2em;
    box-sizing: border-box;
}

.box-2 h1{
    font-size: 24px;
}

.box-2 h2{
    margin-top: 3em;
}

#main-footer{
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: coral;
    color: #fff;
    padding: 2em;
}
